{% load static %}
{% for item in basket_list %}
    <div class="basket_record">
        <img src="{% static 'media/' %}{{ item.product.image }}" alt="">
        <span class="category_name">{{ item.category.name }}</span>
        <span class="product_name">{{ item.name }}</span>
        <span class="product_price">{{ item.product.price }}</span>
        <label>
            <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
        </label>
        <span class="product_cost">{{ item.product_cost }}</span>
        <button class="btn btn-round" >
            <a href="{% url 'basketapp:basket_remove' item.pk %}">Удалить</a>
        </button>
    </div>
{% endfor %}
{% if basket_list %}
    В корзине {{ basket_list.0.total_quantity }} товаров на общую сумму {{ basket_list.0.total_cost|floatformat:0 }} руб. <br>
{% endif %}