<a href="{% url 'index' %}" class="logo"></a>
<ul class="menu">
    <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">домой</a></li>
    <li><a href="{% url 'products:products' %}" class="{% if request.resolver_match.namespace == 'products' %}active{% endif %}">продукты</a></li>
    <li><a href="{% url 'contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">контакты</a></li>
</ul>
<a href="#" class="search"></a>
<a href="#" class="basket"></a>