{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
    <div class="categories_list">
        <a href="{% url 'adminapp:category_create' %}" class="btn btn-primary">Создать новую категорию</a>
        {% for object in object_list %}
            <hr>
            <div class="category_record" {% if not object.is_active %}style="opacity: 0.5" {% endif %}>
            <div class="category_name">{{ object.name|title }}</div>
            <div class="category_actions">
                <a href="{% url 'adminapp:category_update' object.pk %}" class="btn btn-warning form-control">Изменить</a>
                <a href="{% url 'adminapp:category_delete' object.pk %}" class="btn btn-danger form-control">Удалить</a>
                <a href="{% url 'adminapp:products' object.pk %}" class="btn btn-primary form-control">Продукты</a>
            </div>
            <div class="category_desc">{{ object.description }}</div>
            </div>

    {% endfor %}
    </div>
{% endblock %}