{% extends 'adminapp/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="products_list">
        <a href="{% url 'adminapp:product_create' object.pk %}" class="btn btn-primary">Добавить новый продукт</a>
        {% for object in object_list %}
            <hr>
            <div class="product_record" {% if not object.is_active %}style="opacity: 0.5" {% endif %}>
            <div class="product_name">{{ object.name }}</div>
{#            <img src="/media/{{ object.image }}" alt="">#}
            <img src="{{ object.image|media_for_products }}" alt="">
            <div class="product_actions">
                <a href="{% url 'adminapp:product_update' object.pk %}" class="btn btn-warning form-control">Изменить</a>
                <a href="{% url 'adminapp:product_delete' object.pk %}" class="btn btn-danger form-control">Удалить</a>
                <a href="{% url 'adminapp:product_read' object.pk %}" class="btn btn-primary form-control">Посмотреть</a>
            </div>
            <div class="summary">
                Цена: {{ object.price }} руб
                Количество: {{ object.quantity }} шт
            </div>
            <div class="product_desc">
                {{ object.description }}
            </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}