{% if object.status == 'FM' %}
    <button class="btn btn-warning form-control">
        <a href="{% url 'ordersapp:complete' object.pk %}">
            Совершить покупку
        </a>
    </button>
    <button class="btn btn-danger form-control">
        <a href="{% url 'ordersapp:delete' object.pk %}">Удалить</a>
    </button>
{% endif %}
<button class="btn btn-info form-control">
    <a href="{% url 'ordersapp:list' %}">
        К списку заказов
    </a>
</button>
<button class="btn btn-default form-control">
    <a href="{% url 'index' %}">На главную</a>
</button>
