{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="hero">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_main_menu.html' %}
        </div>
        <h1>наши контакты</h1>
    </div>
    {% for item in contacts %}
    <div class="location">
        <div class="location-1">
            <i class="fa fa-map-marker fa-5x"></i>
            <h4>{{ item.city }}</h4>
            <div class="contacts">
                <h5>Телефон</h5>
                <p>{{ item.phone }}</p>
            </div>
            <div class="contacts">
                <h5>Email</h5>
                <p>{{ item.email }}</p>
            </div>
            <div class="contacts">
                <h5>Адрес</h5>
                <p>{{ item.address }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}