{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_main_menu.html' %}
        </div>
    </div>
    <div class="details">
        {% include 'mainapp/includes/inc_products_menu.html' %}
        <div class="products_list">
            <div class="title clearfix">
                <h2>Категория: "{{ category.name|title }}"</h2>
            </div>

            <div class="category-products clearfix">
            {% for product in products %}
                <div class="block">
                    <a href="{% url 'basketapp:basket_add' product.pk %}">
                        <img src="/media/{{ product.image }}" alt="product" width="320px" />
                        <div class="text">
                            <img src="{% static 'img/icon-hover.png' %}" alt="hover" />
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
