{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
		<div class="hero-white">
			<div class="header clearfix">
                {% include 'mainapp/includes/inc_main_menu.html' %}
			</div>
		</div>

		<div class="details">
            {% include 'mainapp/includes/inc_products_menu.html' %}

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img src="{% static 'media/' %}{{ hot_product.image }}">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="{% static 'media/' %}{{ hot_product.image }}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static 'media/' %}{{ hot_product.image }}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static 'media/' %}{{ hot_product.image }}" alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ hot_product.name }}</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price">{{ hot_product.price|floatformat:0 }}<span>руб</span></p>
					<a href="{% url 'basketapp:basket_add' hot_product.pk %}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						{{ hot_product.description }}
					</div>
				</div>
			</div>
        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img src="{% static '/img/arrow.png' %}" alt=""></a>
            </div>
            <div class="related-products clearfix">
                {% for product in same_products %}
                <div class="block">
                    <a href="{% url 'products:product' product.pk %}"><img src="{% static 'media/' %}{{ product.image }}" alt="">
                        <div class="text">
                            <img src="{% static '/img/icon-hover.png' %}" alt="img">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.short_desc }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
		</div>
{% endblock %}